<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>howtoApply</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link cursor-pointer rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="./img-etc/logo.jpg" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"
      rel="stylesheet"
    />

    <title>How to apply</title>
  </head>
  <body>

    <div class="bg-[#185490]">
      <nav
        class=" border-gray-200 px-2 sm:px-4 bg-[#185490] py-2.5 max-w-6xl mx-auto"
      >
        <div
          class="container flex flex-wrap items-center justify-between mx-auto"
        >
        <a href="index" class="flex items-center mb-4 sm:mb-0">
          <img
            src="../img-etc/logo.jpg"
            class="mr-3 h-16"
            alt="અન્નપૂર્ણા યોજના Logo"
          />
          <span
            class="self-center text-xl sm:text-2xl font-semibold whitespace-nowrap dark:text-white "
            >અન્નપૂર્ણા યોજના</span
          >
        </a>
          <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-6 h-6"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
              class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-blue"
            >
              <li>
                <a
                  href="index"
                  class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent  md:p-0"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="#main-sec"
                  class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent  md:p-0"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent  md:p-0"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <section class="text-gray-600 body-font pt-10 max-w-6xl mx-auto px-4">
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full justify-center">
          <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white relative z-10 bg-[#185490]"
              >
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  STEP 1
                </h2>
                <p class="leading-relaxed font-medium">
                  Apply Now પર ક્લિક કરો
                </p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white bg-[#185490] relative z-10"
              >
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  STEP 2
                </h2>
                <p class="leading-relaxed font-medium">Login/Register કરો</p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white bg-[#185490] relative z-10"
              >
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  STEP 3
                </h2>
                <p class="leading-relaxed font-medium">અરજી પત્રક ભરો</p>
              </div>
            </div>
            <div class="flex relative pb-12">
              <div
                class="h-full w-10 absolute inset-0 flex items-center justify-center"
              >
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
              </div>
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white bg-[#185490] relative z-10"
              >
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  STEP 4
                </h2>
                <p class="leading-relaxed font-medium">Submit પર ક્લિક કરો</p>
              </div>
            </div>
            <div class="flex relative">
              <div
                class="flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white bg-[#185490] relative z-10"
              >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-5 h-5"
                    viewBox="0 0 24 24"
                  >
                    <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                    <path d="M22 4L12 14.01l-3-3"></path>
                  </svg>
              </div>
              <div class="flex-grow pl-4">
                <h2
                  class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider"
                >
                  FINISH
                </h2>
                <p class="leading-relaxed font-medium">સમાપ્ત</p>
                
              </div>
            </div>
            <div class="btns my-8">
              <a
                href="login"
                class="py-3 mr-4 inline-block px-3 text-white font-semibold transition bg-green-700 rounded-lg duration-300"
              >
                Apply Now
              </a>
            </div>
          </div>
          <!-- <img
                class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12"
                src="./img-etc/img-3.jpg"
                alt="step"
            /> -->
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div class="bg-[#185490] ">
      <footer
        class="p-4  max-w-6xl mx-auto md:px-6 md:py-8 bg-[#185490]"
      >
        <div class="sm:flex sm:items-center sm:justify-between">
          <a href="./index.html" class="flex items-center mb-4 sm:mb-0">
            <img
              src="../img-etc/logo.jpg"
              class="mr-3 h-16"
              alt="અન્નપૂર્ણા યોજના Logo"
            />
            <span
              class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
              >અન્નપૂર્ણા યોજના</span
            >
          </a>
          <ul
            class="flex text-white flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"
          >
            <li>
              <a
                href="#main-sec"
                class="mr-4 text-white hover:underline md:mr-6"
                >About</a
              >
            </li>
            <li>
              <a href="#" class="text-white hover:underline">Contact</a>
            </li>
          </ul>
        </div>
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span class="block text-sm text-white sm:text-center"
          >© 2022 <a href="#" class="hover:underline">અન્નપૂર્ણા યોજના</a>. All
          Rights Reserved.
        </span>
      </footer>
    </div>

  </body>
</html>
