<nav class="bg-white shadow-md absolute w-full block bg-[#185490]">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex space-x-7 justify-between items-center">
          <!-- Website Logo -->
          <div>
            <a href="#" class="flex items-center justify-between py-4 px-1">
              <img src="./logo.jpg" alt="Logo" class="h-16 w-16 mr-2" />
              <span class="font-semibold text-white text-lg"
                >અન્નપૂર્ણા યોજના</span
              >
            </a>
          </div>
          <!-- Primary Navbar items -->

          <div
            class="menu flex items-center justify-center md:hidden h-12 w-12"
          >
            <img src="./img-etc/menu.png" class="block w-full h-full" alt="" />
          </div>

          <div class="hidden md:flex items-center space-x-1">
            <a
              href="https://nsap.nic.in/Guidelines/Annapurna%20scheme%20guidelines%202000.pdf"
              class="py-4 px-2 text-white font-semibold transition duration-300"
              >About</a
            >
          
            <a
              href="../views/howtoapply"
              class="py-3 inline-block px-2 text-white font-semibold transition bg-orange-700 rounded-lg duration-300"
              >How to Apply</a
            >
          </div>
        </div>
      </div>
    </nav>