{{!-- require("applications")

const {rejectCount,approveCount}= require('./applications4') --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link cursor-pointer rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="../partials/img-etc/logo.jpg" type="image/x-icon" />

    <title>Admin</title>
  </head>
  <body style="overflow-x: hidden">
    <nav
      class="admin-nav text-center p-3 text-white font-semibold bg-[#185490]"
    >
      Admin
    </nav>

    <main class="flex h-screen dashborad">
      <div class="bg-gray-200 sticky">
        <ul class="flex flex-col">
        <li class="mr-2 sm:p-1 sm:mx-4 sm:mt-4"><a class="inline-block dashBorad_link cursor-pointer" href="./admin">Dashborad</a></li>
              <li class="mr-2 sm:p-1 sm:mx-4"><a class="inline-block apk_link cursor-pointer" href="./applications">Applications</a></li>
        </ul>
      </div>
      <section class="text-gray-600 body-font grow">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
              <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                <img
                  src="./img-etc/documents-96.png"
                  class="inline-block h-20 w-20"
                  alt=""
                />
                <h2 class="title-font font-medium text-3xl text-gray-900">
                  583
                </h2>
                <p class="leading-relaxed">Total Applications</p>
              </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
              <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                <img
                  src="./img-etc/check-circle-480.png"
                  class="inline-block h-20 w-20"
                  alt=""
                />
                <h2 class="title-font font-medium text-3xl text-gray-900">
                  237
                </h2>
                <p class="leading-relaxed">Apprwoved</p>
              </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
              <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                <img
                  src="./img-etc/cancel-480.png"
                  class="inline-block h-20 w-20"
                  alt=""
                />
                <h2 class="title-font font-medium text-3xl text-gray-900">
                  74
                </h2>
                <p class="leading-relaxed">Rejected</p>
              </div>
            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
              <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                <img
                  src="./img-etc/data-pending-96.png"
                  class="inline-block h-20 w-20"
                  alt=""
                />
                <h2 class="title-font font-medium text-3xl text-gray-900">
                  46
                </h2>
                <p class="leading-relaxed">Pending</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {{!-- <script src="./script.js"></script> --}}
  </body>
</html>
