<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

  {{!-- <script>
    
    function rejectCount()
    {
      rejectCount=0;
      rejectCount= rejectCount+1;

    }

    function approveCount()
    {
      approveCount=0;
      approveCount =approveCount+1;
      
     
    }

    module.exports={rejectCount,approveCount}

  </script> --}}
    <link cursor-pointer rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="./img-etc/logo.jpg" type="image/x-icon" />

    <title>Admin</title>
  </head>
  <body style="overflow-x: hidden">
    <nav
      class="admin-nav text-center p-3 text-white font-semibold bg-[#185490]"
    >
      Admin
    </nav>
 

    <!-- application active -->
    <main class="flex h-screen">
        <div class="bg-gray-200 sticky">
            <ul class="flex flex-col">
              <li class="mr-2 sm:p-1 sm:mx-4 sm:mt-4"><a class="inline-block dashBorad_link cursor-pointer" href="./admin">Dashborad</a></li>
              <li class="mr-2 sm:p-1 sm:mx-4"><a class="inline-block apk_link cursor-pointer" href="./applications">Applications</a></li>
            </ul>
          </div>

      <div class="overflow-x-auto relative shadow-md sm:rounded-lg grow">
        <h1 class="text-3xl font-semibold my-7 text-center">
          Applications Details
        </h1>
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase">
            <tr class="text-lg">
              <th scope="col" class="py-3 px-6">અરજદારનું નામ</th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">આધાર કાર્ડ નંબર</div>
              </th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">વાર્ષિક આવક રૂ.</div>
              </th>
              <th scope="col" class="py-3 px-6">
                <div class="flex items-center">સંપર્ક માટે ની માહિતી</div>
              </th>
              <th scope="col" class="py-3 px-6">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {{!-- <tr class="border-b dark:-800 dark:border-gray-700">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
                {{showname}}
              </th>
              <td class="py-4 px-6">{{showadharnum}}</td>
              <td class="py-4 px-6">{{showannual}}</td>
              <td class="py-4 px-6">{{showadharnum}}</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr> --}}
            <tr class="border-b dark:-800 dark:border-gray-700">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
                bnm
              </th>
              <td class="py-4 px-6">256418653498</td>
              <td class="py-4 px-6">120000</td>
              <td class="py-4 px-6">9797322324</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  ">Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                ">Reject</a
                >
              </td>
            </tr>
            <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
               Abc
              </th>
              <td class="py-4 px-6">5245446363</td>
              <td class="py-4 px-6">90000</td>
              <td class="py-4 px-6">9634574101</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
             <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
                 xyz
              </th>
              <td class="py-4 px-6">13252454463</td>
              <td class="py-4 px-6">500000</td>
              <td class="py-4 px-6">9118763258</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
             <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
               qwe
              </th>
              <td class="py-4 px-6">88245446363</td>
              <td class="py-4 px-6">600000</td>
              <td class="py-4 px-6">8148763258</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
             <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
               rty
              </th>
              <td class="py-4 px-6">453345446363</td>
              <td class="py-4 px-6">700000</td>
              <td class="py-4 px-6">9488763258</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
             <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
                yui
              </th>
              <td class="py-4 px-6">632245446363</td>
              <td class="py-4 px-6">100000</td>
              <td class="py-4 px-6">7008763258</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
             <tr class="dark:-800">
              <th
                scope="row"
                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
              >
               opa
              </th>
              <td class="py-4 px-6">24855246363</td>
              <td class="py-4 px-6">800000</td>
              <td class="py-4 px-6">8458763258</td>
              <td class="py-4 px-6 text-right">
                <a
                  href="#"
                  class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                  >Approve</a
                >
                <a
                  href="#"
                  class="py-2 px-4 inline-block text-white font-semibold transition bg-orange-700 hover:bg-orange-800 rounded duration-300"
                  >Reject</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <script src="./script.js"></script>
  </body>
</html>
