<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
        <link rel="shortcut icon" href="../partials/img-etc/logo.jpg" type="image/x-icon" />

    <title>Form</title>
</head>

<body>



    {{>navbar}}

    <main class="pt-24">
        <form action="/form" class="" method="POST" onsubmit="return validateForm()">
        <h1 class="text-center text-2xl my-7 font-semibold px-2">
            અન્નપૂર્ણા યોજના સહાય માટેનું ઓનલાઈન અરજી પત્રક
        </h1>
            <!-- USER BASIC INFO -->
            <h5 class="md:text-lg bg-gray-200 pt-2 text-center font-medium max-w-6xl mx-auto">
                અરજદારની માહિતી
            </h5>

            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">
                    આધાર કાર્ડ નંબર (નકલ સામેલ કરવી)
                </h4>
                {{!-- <input style="margin-right: auto" type="tel" pattern="^\+\d{12}(\d{2})?$" --}}
                <input style="margin-right: auto" type="text" 

                    name="adharnum" class="border border-gray-500" maxlength="12" required  />
            </div>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">
                    આધાર કાર્ડ મુજબ અરજદારનું પૂરેપૂરું નામ
                </h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="adharname" required />
            </div>
            
        {{!-- <div
          class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base"
        >
          <h4 style="margin-left: auto" class="">આધાર કાર્ડ</h4>
          <input
            style="margin-right: auto"
            type="file"
            class="border border-gray-500" name="adharimg"
           required />
        </div> --}}
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">અરજદારનું પુરૂ સરનામું</h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="address" required  />
            </div>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">વ્યવસાય</h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="occupassion" required  />
            </div>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">
                    અરજદારના કુટુંબની કુલ વાર્ષિક આવક રૂ. (સક્ષમ અધિકારીશ્રીનું
                    પ્રમાણપત્ર સામેલ કરવું)
                </h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="annualIncome" required />
            </div>
            {{!-- <div
          class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base"
        >
          <h4 style="margin-left: auto" class="">વાર્ષિક આવકનું પ્રમાણપત્ર</h4>
          <input
            style="margin-right: auto"
            type="file"
            class="border border-gray-500" name="ann_cer_img" required 
          />
        </div> --}}
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">જન્મ તારીખ</h4>
                <input style="margin-right: auto" type="date" class="border border-gray-500" name="dob" required  />
            </div>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">આવક પ્રમાણપત્ર નં.</h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="ann_cer_number" required />
            </div>
          
        

            <!-- USER CONTECT -->
            <h5 class="md:text-lg bg-gray-200 pt-2 text-center font-medium max-w-6xl mx-auto">
                સંપર્ક માટે ની માહિતી
            </h5>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">અરજદારનો નંબર</h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="user_mobile"  onblur="len(this)" required 
            name="Phone"
            size="20"
            type="text"
            maxlength="10"/>
            </div>
            <div
                class="userInfo border-b py-3 grid grid-cols-2 max-w-6xl place-items-center mx-auto gap-4 px-3 text-xs md:text-base">
                <h4 style="margin-left: auto" class="">ઈમેઈલ આઈ.ડી</h4>
                <input style="margin-right: auto" type="text" class="border border-gray-500" name="user_email" required  />
            </div>

            <div class="btns max-w-6xl mx-auto text-center mt-5 mb-10">
                <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                    Submit
                </button>
                <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2">
                    Cancel
                </button>
            </div>
        </form>
    </main>
      <script>
      function validateForm() {
        const adharCardinput = document.getElementById("adharCardID").value;
        const phoneNumber = document.getElementById("phoneNum").value;
        console.log(typeof adharCardinput);
        console.log(typeof phoneNumber);
        let isValidNum = validPhone(phoneNumber);
        let isVaildAdhar = validAdhar(adharCardinput);
        // return false;
        if (isValidNum && isVaildAdhar) {
          return true;
        }
        return false;
      }

      function validPhone(number) {
        if (number.length === 10 && !isNaN(number)) {
          return true;
        }
        return false;
      }

      function validAdhar(adharNum) {
        if (adharNum !== 12 && !isNaN(adharNum)) {
          return true;
        } else {
          return true;
        }
      }
    </script>


    {{>footer}}
</body>