<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./styles.css" />
    <title>Home</title>
</head>

<body>

 {{>navbar}}
    <main class="pt-24">
        <div class="img-box relative">
            <img src="./img-etc/facility-2.jpg" class="h-full w-full landing-img" alt="" />
            <h1 class="landing-title overlay" style="  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;">અન્નપૂર્ણા યોજના</h1>
        </div>
        <div class="info p-2 max-w-6xl mx-auto">
            <p class="mt-4">
                &rarr; આ યોજના ગ્રામીણ વિકાસ મંત્રાલય દ્વારા 2000-2001માં શરૂ કરવામાં
                આવી હતી. 65 વર્ષ કે તેથી વધુ વયના ગરીબ વરિષ્ઠ નાગરિકો કે જેઓ રાષ્ટ્રીય
                વૃદ્ધાવસ્થા પેન્શન યોજના (NOAPS) હેઠળ વૃદ્ધાવસ્થા પેન્શન મેળવવા માટે
                હકદાર છે, પરંતુ તેઓને આ પેન્શન મળતું નથી, તેઓને આ યોજના હેઠળ સમાવિષ્ટ
                કરવામાં આવે છે. અને તેમને મફતમાં 10 કિલો ભોજન પૂરું પાડવામાં આવે છે. આ
                યોજના હેઠળ દર મહિને વ્યક્તિ દીઠ અનાજ.
            </p>
            <p class="mt-4">
                &rarr; વર્ષ 2002-2003 થી, આ રાજ્ય યોજનાને રાષ્ટ્રીય સામાજિક સહાયતા
                કાર્યક્રમ સાથે રાજ્ય યોજનામાં સ્થાનાંતરિત કરવામાં આવી છે જેમાં
                રાષ્ટ્રીય વૃદ્ધાવસ્થા પેન્શન યોજના અને રાષ્ટ્રીય કુટુંબ લાભ યોજનાનો
                સમાવેશ થાય છે. આ સ્થાનાંતરિત યોજના માટેના ભંડોળને નાણા મંત્રાલય દ્વારા
                વધારાની કેન્દ્રીય સહાય (ACA) તરીકે રાજ્ય યોજનામાં રજૂ કરવામાં આવે છે
                અને રાજ્યો પાસે લાભાર્થીઓની પસંદગી કરવા અને તેના અમલીકરણની પસંદગી કરવા
                માટે જરૂરી પરવાનગીઓ છે. રાજ્ય સરકારોને BPL દરે અનાજ ઉપલબ્ધ કરાવવામાં
                આવે છે.
            </p>
            <div class="btns my-8">
                <button
                    class="py-3 mr-4 inline-block px-3 text-white font-semibold transition bg-green-700 rounded-lg duration-300">
                     <a href="./login">Apply Now</a>  
                </button>
                <button
                    class="py-3 inline-block px-3 text-white font-semibold transition bg-yellow-700 rounded-lg duration-300">
                    <a href="./howtoapply">How to apply</a>  
                </button>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>